{% extends 'base.html.twig' %}
{% block body %}
You will buy {{product.name}} confirm your chois :
<form action="" method="post">
    <input type="submit" name="submit3" value="expediee">
    <input type="submit" name="submit4" value="annulee">
</form>
</form>
{% endblock %}