{% extends 'base.html.twig' %}
{% block body %}
Sucess {{product.name}} confirm your chois :
<form action="" method="post">
    <input type="submit" name="submit5" value="livree">
</form>
{% endblock %}