{% extends 'base.html.twig' %}
{% block body %}
You selct {{product.name}} confirm your chois :
<form action="" method="post">
    <input type="submit" name="submit" value="slect">
</form>
{% endblock %}